* {
  box-sizing: border-box;
}
html, body {
	font-family: 'arial';
	font-size: 14px;
	background-color: #1e212a;
	color: #a2a2a2;
}
.container {
	text-align: left;
	margin-left: 30px;
}
input {
	margin-right: 10px;
	height: 40px;
	padding-left: 8px;
	border: thin solid white;
	width: 190px;
	background-color: transparent;
	color: #ffffff;
}
a {
	padding: 13px;
	text-decoration: none;
	color: #ffffff;
	background-color: #03aa6d;
	text-shadow: 1px 1px #333333;
}
	a:hover {
		background-color: #0470ff;
	}
h1 {
	color: #ececec;
}
.output {
	text-align: left;
	font-size: 18px;
}
